* {
    box-sizing: border-box;
}
html, body, main, .modal, form {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
main {
    padding: 0.5rem;
    overflow: auto;
}
nav {
    background-color: #333;
    overflow: auto;
    min-height: 2rem;
    width: 100%;
}
nav a {
    display: inline-block;
    padding: 0.7rem 1.1rem;
    text-decoration: none;
    color: #fff;
}
nav a:hover {
    color: #aaa;
}
nav .active {
    color: #ccfa;
}
img {
    max-width: 100%;
}
alert {
    display: block;
    margin: 1rem 4rem;
    padding: 1rem;
    border: 1px solid #333;
}
.danger {
    border-color: #aa3333;
    color: #aa3333;
}
.warn {
    border-color: #ffaa33;
    color: #ffaa33;
}
.info {
    border-color: #3333aa;
    color: #3333aa;
}
.success {
    border-color: #33aa33;
    color: #33aa33;
}
.left {
    float: left;
}
.right {
    float: right;
}
